
{
  presets: [
    [
      "next/babel",
      {
        "preset-react": {
          runtime: "automatic",
        },
        "transform-runtime": {
          "useESModules": false
        }
      },
    ],
  ],
  plugins: [],
}